/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>

// defines readable layer index
#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define NAVI    3
#define ADJS    4

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer { 
// DEFAULT LAYER
// .--------------------------------------------------------------.       .-----------------------------------------------------------.
// |   ESC        |    Q    |    W   |   E    |    R    |    T    |       |   Y   |    U    |    I    |    O    |     P    |   BKSP   |
// |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
// |   CTRL/Tab   |    A    |    S   |   D    |    F    |    G    |       |   H   |    J    |    K    |    L    |     ;    |     '    |
// |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
// |   SHFT       |    Z    |    X   |   C    |    V    |    B    |       |   N   |    M    |    ,    |    .    |     /    |     NAV  |
// '---------------------------------+--------+---------+---------+       |-------+---------+---------+-------------------------------'
//                                   |  GUI   |   RSE   |   SPC   |       |  ENT  |   LWR   |  LALT   |
//                                   '--------+---------+---------'       '-------+---------+---------'
                  bindings = <
        &kp ESC        &kp Q    &kp W    &kp E    &kp R     &kp T           &kp Y    &kp U      &kp I     &kp O     &kp P     &kp BKSP
        &mt LCTL TAB   &kp A    &kp S    &kp D    &kp F     &kp G           &kp H    &kp J      &kp K     &kp L     &kp SCLN  &kp QUOT
        &kp LSFT       &kp Z    &kp X    &kp C    &kp V     &kp B           &kp N    &kp M      &kp CMMA  &kp DOT   &kp FSLH  &mo NAVI
                                       &kp LGUI  &mo LOWER  &mt LSFT SPC    &kp RET  &mo RAISE  &kp LALT
                            >;
                };


                lower_layer {
// LOWER Layer: Media and Number Pad
// .--------------------------------------------------------------.    .-----------------------------------------------------------.
// |              |    F5   |   F8   |   F9   |   F10   |         |    |  / ?  |   7 &   |   8 *   |   9 (   |   - _    |          |
// |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
// |              |    F4   |   F5   |   F6   |   F11   |         |    |   *   |   4 $   |   5 %   |   6 ^   |   , <    |          |
// |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
// |              |    F1   |   F2   |   F3   |   F12   |         |    |  0 )  |   1 !   |   2 @   |   3 #   |   = +    |          |
// '---------------------------------+--------+---------+---------+    |-------+---------+---------+-------------------------------'
//                                   |        |         |         |    |       |         |         |
//                                   '--------+---------+---------'    '-------+---------+---------'

                  bindings = <
          &none      &kp F5   &kp F8   &kp F9   &kp F10   &none       &kp FSLH   &kp NUM_7  &kp NUM_8  &kp NUM_9  &kp MINUS  &none
          &none      &kp F4   &kp F5   &kp F6   &kp F11   &none       &kp STAR   &kp NUM_4  &kp NUM_5  &kp NUM_6  &kp COMMA  &none
          &none      &kp F1   &kp F2   &kp F3   &kp F12   &none       &kp NUM_0  &kp NUM_1  &kp NUM_2  &kp NUM_3  &kp EQUAL  &none
                                       &trans   &trans    &trans      &trans     &mo ADJS     &trans
                            >;
                };



                raise_layer {
// RAISE Layer: Special Chars
// .--------------------------------------------------------------.    .-----------------------------------------------------------.
// |              |    !    |    @   |   {    |    }    |    |    |    |   £   |    _    |    €    |         |          |          |
// |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
// |              |    #    |    $   |   (    |    )    |    `    |    |   +   |    -    |    /    |         |          |          |
// |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
// |              |    %    |    ^   |   [    |    ]    |    ~    |    |   &   |    =    |    ,    |         |          |          |
// '---------------------------------+--------+---------+---------+    |-------+---------+---------+-------------------------------'
//                                   |        |         |         |    |       |         |         |
//                                   '--------+---------+---------'    '-------+---------+---------'
                        bindings = <
        &none    &kp EXCL   &kp AT    &kp LBRC  &kp RBRC  &kp PIPE     &kp FSLH   &kp NUM_7  &kp NUM_8  &none  &none  &none
        &none    &kp HASH   &kp DLLR  &kp LPAR  &kp RPAR  &kp GRAVE    &kp STAR   &kp NUM_4  &kp NUM_5  &none  &none  &none
        &none    &kp PRCNT  &kp CARET &kp LBKT  &kp RBKT  &kp TILDE    &kp NUM_0  &kp NUM_1  &kp NUM_2  &none  &none  &none
                                      &trans    &mo ADJS    &trans       &trans     &trans     &trans
                        >;
                };


              nav_layer {
// NAVIGATION Layer: Directions
// .--------------------------------------------------------------.    .-----------------------------------------------------------.
// |              |         |        |        |         |         |    | PG UP | PG HOME |   UP    |  PG END |          |  PrtScn  |
// |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
// |     CTRL     |         |        |        |         |         |    | PF DN |  LEFT   |  DOWN   |  RIGHT  |          | CAPS LCK |
// |--------------+---------+--------+--------+---------+---------|    |-------+---------+---------+---------+----------+----------|
// |     SHIFT    |         |        |        |         |         |    |       |         |         |         |          |          |
// '---------------------------------+--------+---------+---------+    |-------+---------+---------+-------------------------------'
//                                   |  GUI   |         |   ALT   |    |       |         |         |
//                                   '--------+---------+---------'    '-------+---------+---------'
                        bindings = <
          &none     &none   &none    &none     &none    &none        &kp PG_UP  &kp HOME   &kp UARW   &kp END   &none  &kp PSCRN
          &kp LCTL  &none   &none    &none     &none    &none        &kp PG_DN  &kp LARW   &kp DARW   &kp RARW  &none  &kp CLCK
          &kp LSFT  &none   &none    &none     &none    &none        &none      &none      &none      &none     &none  &trans
                                     &kp LGUI  &none    &kp LALT     &none      &none      &none
                        >;
                };


                adjust_layer {
// ADJUST Layer: Setting and Configurations
// .------------------------------------------------------------.    .-------------------------------------------------------------.
// |      0     |  BT 0   |  BT 1  |  BT 2  |  BT 3   |  BT 4   |    |  BT CLR |         |         |         |          |          |
// |------------+---------+--------+--------+---------+---------|    |---------+---------+---------+---------+----------+----------|
// | ExtPow ON  |         |        |        |         |         |    |         |         |         |         |          |          |
// |------------+---------+--------+--------+---------+---------|    |---------+---------+---------+---------+----------+----------|
// | ExtPow OFF |         |        |        |         |         |    |         |         |         |         |          |          |
// '-------------------------------+--------+---------+---------+    |---------+---------+---------+-------------------------------'
//                                 |        |         |         |    |         |         |         |
//                                 '--------+---------+---------'    '---------+---------+---------'

                        bindings = <
    &kp NUM_0           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4       &bt BT_CLR   &none     &none     &none    &none    &none
    &ext_power EP_ON    &none         &none         &none         &none         &none              &none        &none     &none     &none    &none    &none
    &ext_power EP_OFF   &none         &none         &none         &none         &none              &none       &none      &none     &none    &none    &none
                                                    &kp LALT      &none         &none              &none       &none      &trans
                        >;
                };
        };
};
